{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
    <style>
        #result {
            border: 2px dashed #666;
            margin: 20px;
            padding: 5px;
            font-family: "Arial", sans-serif;
        }

        .main {
            display: grid;
            gap: 10px;
            grid-template-columns: 15% 83%;
        }
    </style>
    <div class="main">
        <div class="dropzone my-dropzone" id="form_snippet_image" action="{{ path('api_v1_test') }}">
        </div>
        <pre id="json-display"></pre>
    </div>

{% endblock %}




