{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
    <style>
        #result {
            border: 2px dashed #666;
            margin: 20px;
            padding: 5px;
            font-family: "Arial", sans-serif;
        }

        .main {
            display: grid;
            gap: 10px;
            grid-template-columns: 15% 83%;
        }
    </style>
    <div class="main">
        <div class="dropzone my-dropzone" id="form_snippet_image" action="{{ path('api_v1_test') }}">
        </div>
        <pre id="json-display"></pre>
    </div>

{% endblock %}
{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.6.0.js"
            integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script>
        Dropzone.autoDiscover = false;
        $(function () {
            uploader = new Dropzone(".dropzone", {
                url: "{{ path('api_v1_test') }}",
                paramName: "file",
                uploadMultiple: false,
                addRemoveLinks: true,
                forceFallback: false,
            });//end drop zone

            uploader.on("success", function (file, response) {
                var editor = new JsonEditor('#json-display', response);
                    editor.load(response);

            });
        });//end jq
    </script>
{% endblock %}



