{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
    <style>
        #result {
            border: 2px dashed #666;
            margin: 20px;
            padding: 5px;
            font-family: "Arial", sans-serif;
        }

        .main {
            display: grid;
            gap: 10px;
            grid-template-columns: 15% 83%;
        }
    </style>
    <div class="main">
        <div class="dropzone my-dropzone" id="form_snippet_image" action="{{ path('api_v1_test') }}">
        </div>
        <pre id="json-display"></pre>
    </div>

{% endblock %}
{% block javascripts %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.5.1/min/dropzone.min.css"
          integrity="sha256-e47xOkXs1JXFbjjpoRr1/LhVcqSzRmGmPqsrUQeVs+g=" crossorigin="anonymous"/>
    <script>
        Dropzone.autoDiscover = false;
        $(function () {
            uploader = new Dropzone(".dropzone", {
                url: "{{ path('api_v1_test') }}",
                paramName: "file",
                uploadMultiple: false,
                addRemoveLinks: true,
                forceFallback: false,
            });//end drop zone

            uploader.on("success", function (file, response) {
                var editor = new JsonEditor('#json-display', response);
                //  editor.load(response);
            });
        });//end jq
    </script>
{% endblock %}



