{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="http://d3js.org/d3.v4.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="{{ asset('build/js/d3gauge.js') }}" charset="utf-8"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script>

        var gauges = []
        document.addEventListener("DOMContentLoaded", function (event) {
            var opt = {
                gaugeRadius: 100,
                minVal: 0,
                maxVal: 100,
                needleVal: Math.round(100),
                tickSpaceMinVal: 1,
                tickSpaceMajVal: 10,
                divID: "gaugeBox",
                gaugeUnits: "%"
            }
            gauges[0] = new drawGauge(opt);
        })
        document.addEventListener("DOMContentLoaded", function (event) {
            var opt = {
                gaugeRadius: 100,
                minVal: 0,
                maxVal: 100,
                needleVal: Math.round(90),
                tickSpaceMinVal: 1,
                tickSpaceMajVal: 10,
                divID: "gaugeBox1",
                gaugeUnits: "%"
            }
            gauges[1] = new drawGauge(opt);
        });
        document.addEventListener("DOMContentLoaded", function (event) {
            var opt = {
                gaugeRadius: 100,
                minVal: 0,
                maxVal: 100,
                needleVal: Math.round(20),
                tickSpaceMinVal: 1,
                tickSpaceMajVal: 10,
                divID: "gaugeBox2",
                gaugeUnits: "%"
            }
            gauges[2] = new drawGauge(opt);
        });

        document.addEventListener("DOMContentLoaded", function (event) {
            var opt = {
                gaugeRadius: 100,
                minVal: 0,
                maxVal: 100,
                needleVal: Math.round(30),
                tickSpaceMinVal: 1,
                tickSpaceMajVal: 10,
                divID: "gaugeBox3",
                gaugeUnits: "%"
            }
            gauges[3] = new drawGauge(opt);
        })

        document.addEventListener("DOMContentLoaded", function (event) {
            var opt = {
                gaugeRadius: 100,
                minVal: 0,
                maxVal: 100,
                needleVal: Math.round(30),
                tickSpaceMinVal: 1,
                tickSpaceMajVal: 10,
                divID: "gaugeBox4",
                gaugeUnits: "%"
            }
            gauges[3] = new drawGauge(opt);
        })

        document.addEventListener("DOMContentLoaded", function (event) {
            var opt = {
                gaugeRadius: 100,
                minVal: 0,
                maxVal: 100,
                needleVal: Math.round(30),
                tickSpaceMinVal: 1,
                tickSpaceMajVal: 10,
                divID: "gaugeBox5",
                gaugeUnits: "%"
            }
            gauges[3] = new drawGauge(opt);
        })


        $(document).ready(function () {
            $("form").submit(function (event) {
                var formData = {
                    Name: $("#prenom").val(),
                    Surname: $("#nom").val(),
                    'Position/Sport': $("#Position").val(),
                    sexe: $('#sexe').val(),
                };

                $.ajax({
                    type: "POST",
                    url: "{{ path("api_v1_fromtest") }}",
                    data: formData,
                    dataType: "json",
                    encode: true,
                }).done(function (data) {
                    console.log(data);
                });

                event.preventDefault();
            });
        });

    </script>

{% endblock %}
{% block body %}
    <div class="grid">
       <div class="col-left">
           <form method="post">
               <label for="fname">Prénom : </label>
               <input type="text" id="prenom" name="prenom" placeholder="Prénom : ">
               <label for="lname">Nom  : </label>
               <input type="text" id="nom" name="Noms" placeholder="Nom">
               <label for="lname">Date de naissance  : </label>
               <input type="date" id="lname" name="naissance" placeholder="Date de naissance">
               <div class="colfrom">
                   <div class="left">
                       <label for="lname">Age  : </label>
                       <input type="number" id="lname" name="age" placeholder="Age">
                   </div>
                   <div class="right">
                       <label for="sexe">Sexe : </label>
                       <select id="sexe" name="sexe">
                           <option value="H">Man</option>
                           <option value="F">WoMan</option>
                       </select></div>
               </div>
               <div class="colfrom">
                   <div class="left">
                       <label for="lname">Taille  : </label>
                       <input type="number" id="lname" name="Taille" placeholder="Taille">
                   </div>
                   <div class="right">
                       <label for="lname">Poids  : </label>
                       <input type="number" id="lname" name="Poids" placeholder="Poids">
                   </div>
               </div>

               <div class="colfrom">
                   <div class="left">
                       <label for="lname">BMI  : </label>
                       <input type="number" id="lname" name="bmi" placeholder="BMI">
                   </div>
                   <div class="right">
                       <label for="lname">Group sanguin  : </label>
                       <input type="number" id="lname" name="group_sanguin" placeholder="Group sanguin">
                   </div>
               </div>
               <div class="colfrom">
                   <div class="left">
                       <label for="lname">Terrain  : </label>
                       <input type="number" id="lname" name="terrain" placeholder="terrain">
                   </div>
                   <div class="right">
                       <label for="lname">Pression  : </label>
                       <input type="number" id="lname" name="Pression" placeholder="Pression">
                   </div>
               </div>
               <div class="dropzone my-dropzone" id="form_snippet_image" action="{{ path('api_v1_test') }}"></div>

               <button type="submit" class="btn btn-success">
                   Submit
               </button>
           </form>

       </div>
        <div class="col-right">
            <div class="col-g-1">
                <p>Risque général</p>
                <div class="bord">
                <div id="gaugeBox1"></div>
                Puissance de précision
                <div class="col-g-2"><input type="text"><input type="text"></div>
                </div>

            </div>
            <div class="col-g-1">
                <p>Risque santé</p>
                <div class="bord">
                    <div id="gaugeBox2"></div>
                    Puissance de précision
                    <div class="col-g-2"><input type="text"><input type="text"></div>
                </div>

            </div>
            <div class="col-g-1">
                <p>Risque alcoolique</p>
                <div class="bord">
                    <div id="gaugeBox3"></div>
                    Puissance de précision
                    <div class="col-g-2"><input type="text"><input type="text"></div>
                </div>

            </div>
            <div class="col-g-1">
                <p>Risque anorexique</p>
                <div class="bord">
                    <div id="gaugeBox4"></div>
                    Puissance de précision
                    <div class="col-g-2"><input type="text"><input type="text"></div>
                </div>

            </div>
            <div class="col-g-1">
                <p>Evaluation physique</p>
                <div class="bord">
                    <div id="gaugeBox5"></div>
                    Puissance de précision
                    <div class="col-g-2"><input type="text"><input type="text"></div>
                </div>

            </div>

        </div>
    </div>
{% endblock %}
