$bezier: cubic-bezier(0.215, 0.610, 0.355, 1.000);
$time: 300ms;

$base-font-family: "Avenir Next", "Avenir", "Helvetica Neue", Helvetica, Arial, sans-serif;

@mixin animated(
  $time: 300ms,
  $fillmode: both,
  $count: 1) {
  animation-duration: $time;
  animation-fill-mode: $fillmode;
  animation-iteration-count: $count;
}

input[type=text],input[type=date],input[type=number],select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/*---------------------------------------------*/
button {
  outline: none !important;
  border: none;
  background: transparent;
}

button:hover {
  cursor: pointer;
}

iframe {
  border: none !important;
}

.grid{
  width: 98%;
  display: grid;
  grid-template-columns: 25% 74%;
  grid-gap: 10px;
  margin: 10px auto 0;
}

.col-right{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
  .col-g-1{
    margin: 0 auto;
    text-align: center;
    .bord{border: aqua 1px solid;}

  }
  .col-g-2{
    display: grid;
    grid-template-columns: 49% 49%;
    grid-gap: 1%;
  }
}

.colfrom{
  width: 100%;
  display: grid;
  grid-template-columns: 49% 49%;
  grid-gap: 1%;
}




